.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  text-align: center;
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display:flex;
  flex-direction: column;
  margin: auto;
}

.row {
  width:10%;
  max-width: 10%;
  flex: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  margin:5px;
}

.char {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  display: grid;
  place-items: center;
  font-size: 30;
  font-weight: bolder;
  margin: 5px;
  color: white;
  
}

.numboard {
  width: 700px;
  height: 300px;
  margin-top: 50px;
}

.numline {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.key {
  width:50px;
  height:70px;
  margin:5px;
  border-radius: 5px;
  display: grid;
  background-color: grey;
  color: white;
  cursor: pointer;
}

#almost {
  background-color: yellow;
}

#correct {
  background-color: greenyellow;
}

#error {
  background-color: grey ;
}